.container {
 margin: 0 auto;
 width: 950px;
 padding-right: 50px;
}

.header-show {
  height: 300px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.well {
  border-radius: 4px;
}

.description {
  border: 1px;
  border-radius: 4px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
  font-size: 18px;
  color: #A1A1A1;
}

.row{
padding-bottom: 15px;
}

.images {
  margin-right: 10px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}





