<div class="container" style="min-height: 525px">
    <div class="col-xs-8 col-sm-8">
    <h1></h1>
    <h1></h1>
      <div class = "well">
        <h1>Here is your booking</h1>
          <ul>
            <li>Status: <%= @booking.state %></li>
            <li>Item: <%= @booking.sku %></li>
            <li>Amount: <%= humanized_money_with_symbol(@booking.amount) %></li>
          <ul>
    </div>
 </div>
</div>

