// Your footer style
.footer{
  color: #CCCCCC;
  background: #928F84;
    text-align: center;
}

.footer p {
  margin-top: 5px;
}

.footer ul {
  margin-top: 5px;
}

.footer a {
  color: #CCCCCC;
  font-size: 20px;
  letter-spacing: 10px;
  transition: color 0.5s ease;
}

.footer a:hover {
  text-decoration: none;
  color: #DA6A50;
}

